[user]
	name = Xiao Jiang
[core]
	editor = "emacs -nw"
	excludesfile = ~/.gitignore_global
[color]
	branch = auto
	status = auto
	diff = auto
	grep = auto
[alias]
	st = status
	ap = add -p
	br = branch
	co = checkout
	df = diff
	mylg = log --oneline --author='Xiao Jiang' -n 5
	dfg = diff --staged
	lg = log --oneline -n5
	cob = checkout -b
	cm = !git add -A && git commit -m
	save = !git add -A && git commit -m 'SAVEPOINT'
	wip = !git add -u && git commit -m "WIP"
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	amd = commit -a --amend
	shown = show --pretty="format:" --name-only
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
	bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
[push]
	default = current
[merge]
	conflictstyle = diff3
