[user]
	name = Xiao Jiang
[core]
	editor = "emacs -nw"
	excludesfile = ~/.gitignore_global
[color]
	branch = auto
	status = auto
	diff = auto
	grep = auto
[alias]
	st = status
	br = branch
	co = checkout
	df = diff
	mylg = log --oneline --author='Xiao Jiang' -n 5
	dfg = diff --staged
	lg = log --oneline -n5
	cob = checkout -b
	cm = !git add -A && git commit -m
	save = !git add -A && git commit -m 'SAVEPOINT'
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	amd = commit -a --amend
        shown = show --pretty="format:" --name-only
        cutl = commit --allow-empty -m '========== CUTLINE =========='
[push]
	default = current
[merge]
	conflictstyle = diff3
